@import '../../scss/_mixins';
@import '../../scss/_variables';

.aq {
  margin-bottom: 2rem;
}
.aq__question {
  font-size: 1.6rem;
  font-weight: 600;
  color: $white;

  @include respond(small-phone) {
    font-size: 1.4rem;
  }
}

.aq__answer {
  font-size: 1.5rem;
  color: lighten($red, 30);

  @include respond(small-phone) {
    font-size: 1.3rem;
  }
}
