@import '../../scss/_mixins';
@import '../../scss/_variables';

.forgotPassword {
  min-height: 80vh;
}

.forgotPassword__container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 136.6rem;
  margin: auto;

  @include respond(laptop-medium) {
    max-width: 95%;
  }
}

.forgotPassword__heading {
  font-size: 2.5rem;
  color: $text;
  margin-bottom: 2rem;
}

.forgotPassword__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50rem;

  @include respond(phone) {
    width: 85%;
  }
}

.forgotPassword__form__field {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.forgotPassword__form__field__input {
  background-color: transparent;
  border: 2px solid rgba($text, 0.4);
  padding: 1rem 1rem;
  border-radius: 0.6rem;
  caret-color: $text;
  font-size: 1.5rem;
  width: 100%;
  color: $text;
  font-family: inherit;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $grey;
  }
}

.forgotPassword__form__field__icon {
  position: absolute;
  color: $red;
  font-size: 2.2rem !important;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  opacity: 0;
}

.forgotPassword__form__button {
  cursor: pointer;
  padding: 0.6rem 1rem;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5rem;
  width: 30%;
  margin: 1rem auto 2rem auto;
  border: none;
  font-family: inherit;
  color: #fff;
  background-color: $red;
  transition: 0.2s ease-in-out;
  border-radius: 20rem;

  @include respond(phone) {
    padding: 1rem;
    width: 50%;
  }

  &:hover {
    background-color: lighten($red, 5);
    color: #e4e6eb;
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}

.forgotPassword__link {
  text-decoration: underline;
  color: $text;
}

.forgotPassword__footer {
  font-size: 1.5rem;
  color: $text;
}
