@import '../../scss/_mixins';
@import '../../scss/_variables';

.resetPassword {
  min-height: 80vh;
}

.resetPassword__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  max-width: 136.6rem;
  margin: auto;

  @include respond(laptop-medium) {
    max-width: 95%;
  }

  & > h3 {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: $text;
  }
}

.resetPassword__form {
  width: 40rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  @include respond(phone) {
    width: 85%;
  }
}

.resetPassword__form__field {
  width: 100%;
}

.resetPassword__form__field__input {
  background-color: transparent;
  border: 2px solid rgba($text, 0.4);
  padding: 1rem 1rem;
  border-radius: 0.6rem;
  caret-color: $text;
  font-size: 1.5rem;
  width: 100%;
  color: $text;
  font-family: inherit;
  margin-bottom: 1rem;

  @include respond(phone) {
    width: 100%;
    margin: auto;
  }

  &::placeholder {
    color: $grey;
  }

  &:focus {
    outline: none;
    border: 2px solid rgba($text, 0.7);
  }
}

.resetPassword__form__field__input:last-of-type {
  margin-bottom: 2rem;
}

.resetPassword__form__field__button {
  cursor: pointer;
  padding: 0.9rem 1rem;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.5rem;
  width: 50%;
  margin: auto;
  border: none;
  font-family: inherit;
  color: #fff;
  background-color: $red;
  transition: 0.2s ease-in-out;
  border-radius: 20rem;

  @include respond(phone) {
    width: 70%;
    padding: 1rem;
  }

  &:hover {
    background-color: lighten($red, 5);
    color: #e4e6eb;
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}
.resetPassword__link {
  text-decoration: underline;
  color: $text;
}

.resetPassword__footer {
  font-size: 1.5rem;
  color: $text;
}
